httpx==0.28.1
huggingface-hub==0.33.4
numpy==2.3.1
pandas-stubs==2.3.0.250703
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.4
safetensors==0.5.3
seaborn==0.13.2
tokenizers==0.21.2
transformers==4.53.3
urllib3==2.5.0
